@use '../../styles/mixins' as *;

.content-section {
  padding-block: $space-8;
  border-bottom: $border-default;

  &:last-child {
    border-bottom: none;
  }
}

.content-section__label {
  @include type-h3;
  margin-bottom: $space-4;
  color: $color-slate-500;
}

.content-section__body {
  @include prose;
  max-width: $max-width-wide;
}

.content-section--placeholder .content-section__body {
  // font-style: italic;
  color: $color-ink;
}
